<div class="container">
	<div class="row">
		<h1>Admin</h1>
	</div>
	<div class="row">
		<h2>Add a new page</h3>

		<form action="{{base_url}}/admin/save/page" method="POST">
			<input type="hidden" name="_id" value=""/>
			<div class="form-group">
				<label>Page Name</label>
				<input type="text" class="form-control" name="page_name">
			</div>
			<div class="form-group">
				<label>Alternate Name</label>
				<textarea class="form-control" name="alt_name"></textarea>
			</div>
			<div class="form-group">
				<label>Slug</label>
				<input type="text" class="form-control" name="slug">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<div class="row">
		<h2>Page List</h3>

		<ul>
			{{#each pages}}
				<li>
					{{ page_name }}
					<a href="{{base_url}}/admin/page/delete/{{@key}}" class="btn btn-danger">Delete</a>
					<a href="{{base_url}}/edit/{{slug}}" target="_blank" class="btn btn-primary">Edit</a>
					<a href="{{base_url}}/{{slug}}" target="_blank" class="btn btn-default">View</a>
				</li>
			{{/each}}
		</ul>
	</div>
</div>
